/************************************
		Page: Home
*************************************/
/*css for the content of the homepage */

/*General CSS */

.portraitSize {
	width: 325px;
	height: 325px;
}

/*aside section of the homepage */
#aside_contain{
  width:200px;
  float:right;
  margin: 0 auto;
  font-size:1.2em; 
  /*margin: 20px 45px 20px; /* Top Right Bottom Left */
  padding:2em 3.5em 2em;
}

#aside_contain a{
	text-decoration: none;
	font-weight: bold;
	color: #000080; /* dark blue */
}

#aside_contain a:visited{
	color: #000080; /* dark blue */
}

/*section of the homepage */
#section_content{
  max-width: 525px;
  margin: 20px 40px 20px;
  padding: 2em 3em 2em;
  line-height: 1.5em;
}

#section_content span{
	margin: 0 auto;
	background-color: #fff;
}

#section_content img {
	margin: 0 auto;
	padding: 2em 4em 2em;
	width:70%;
}

#section_content h1, h2, p {
	padding-top:1.2em;
}


@media only screen and (max-width:1200px) and (orientation:portrait)
{
	#aside_contain{
		margin: 0 auto;
		width: 65%;
		float:none;
		text-align:left;
		padding:2em;
	}
	#section_content{
		width: 70%;
		margin: 0 auto;
		float:none;
		text-align:left;
		padding:-2.5em;
	}
	#section_content img {
		margin: 0 auto;
		padding-right: 2em;
		float:none;
		width:70%;
	}
}

@media only screen and (max-width:750px) and (orientation: portrait) {
	#aside_contain{
		margin: 0 auto;
		width: 60%;
		float:none;
		text-align:left;
		padding: 2em;
	}
	#section_content{
		width: 60%;
		margin: 0 auto;
		float:none;
		text-align:left;
	}
	#section_content img {
		margin: 0 auto;
		padding: 1em;
		float:none;
		width:80%;
	}
}


@media only screen and (max-width:500px) and (orientation: portrait) {
	
	#aside_contain{
		margin: 0 auto;
		width: 60%;
		float:none;
		text-align:left;
		padding:1em;
	}
	#section_content{
		width: 70%;
		margin: 0 auto;
		float:none;
		text-align:left;
		padding:1em;
	}
	#section_content img {
		margin: 0 auto;
		padding:1.5em;
		float:none;
		width: 78%;
	}
}

@media only screen and (max-width:1150px) and (orientation:landscape)
{
	#aside_contain{
		margin: 0 auto;
		width: 45%;
		float: none;
	}
	#section_content{
		margin: 0 auto;
		width: 60%;
	}
	#section_content img {
		margin: 0 auto;
	}
}

@media only screen and (max-width:750px) and (orientation:landscape)
{
	#aside_contain{
		margin: 0 auto;
		width: 45%;
		float: none;
	}
	#section_content{
		margin: 0 auto;
		width: 80%;
		padding: 10px;
	}
	#portrait {
		width: 45%;
	}
}


/************************************
		Page: Personal
*************************************/
#personal_content{
	margin: 0 auto;
	width: 950px;
}
.intro_personal{
	margin: 5px 5px 5px 25px;
	text-align:left;
	font-size: 1.1em;
}

.personalImgSize{
	width: 30%;
	padding: 15px;
}

#drawing{
  margin: 0 auto;
  width: 100%;
  text-align:left;
  background-color: #fff;
}
#drawing img{
	float:left;
	padding-right:30px;
	margin-right:10px;
	padding-bottom:20px;
}

#drawing span{
	margin-left:15em;
}
#drawing h2, #drawing p{
	text-align:left;
}

#hobby1{
  margin:0 auto;
  width: 100%;
  text-align:left;
  background-color:#fff;
 }

#hobby1 img{
	float:right;
	padding-right:30px;
	margin-right:10px;
	padding:20px;
	padding-bottom:10px;
}
#hobby1 span{
	margin-right: 15em;
}


#hobby2{
  width: 100%;
  text-align:left;
  background-color:#fff;
}
#hobby2 img{
	float: left;
	padding-right: 30px;
	margin-right:10px;
	padding:20px;
	padding-top:0px;
}
#hobby3{
  width: 100%;
  text-align:left;
  background-color:#fff;
}
#hobby3 img{
	float:right;
	padding-right:30px;
	margin-right:10px;
	padding:20px;
	padding-bottom:10px;
}


@media only screen and (max-width:1000px) and (orientation:portrait){
#personal_content{
	margin: 0 auto;
	width: 90%;
  }
#personal_content h2, #personal_content p{
	font-size: 1em;
}

#drawing, #hobby1, #hobby2, #hobby3 {
	width: 90%;
	margin: 0 auto;
}

#drawing img, #hobby1 img, #hobby2 img, #hobby3 img {
	width: 85%;
	float:none;
	margin: 10px 50px 10px;
	padding: 5px;
	
}

}

@media only screen and (max-width:750px) and (orientation:portrait){
#personal_content{
	margin: 0 auto;
	width: 100%;
  }
#personal_content h2, #personal_content p{
	font-size: 1em;
}

#drawing, #hobby1, #hobby2, #hobby3 {
	width: 90%;
	margin: 0 auto;
}

#drawing img, #hobby1 img, #hobby2 img, #hobby3 img {
	width: 75%;
	float:none;
	margin: 10px 50px 10px;
	padding: 5px;
	
}
}

@media only screen and (max-width:500px) and (orientation:portrait){
#personal_content{
	margin: 0 auto;
	width: 100%;
  }
#personal_content h2, #personal_content p{
	font-size: .9em;
}

#drawing, #hobby1, #hobby2, #hobby3 {
	width: 90%;
	margin: 0 auto;
}

#drawing img, #hobby1 img, #hobby2 img, #hobby3 img {
	width: 68%;
	float:none;
	margin: 10px 40px 10px;
	padding: 5px;
	
}
  #personal_content h2, #personal_content p{
	font-size: 1em;
  }
}

@media only screen and (max-width:1000px) and (orientation:landscape){
#personal_content{
	margin: 0 auto;
	width: 100%;
  }
#personal_content h2, #personal_content p{
	font-size: 1em;
}

#drawing, #hobby1, #hobby2, #hobby3 {
	width: 90%;
	margin: 0 auto;
}

#drawing img, #hobby1 img, #hobby2 img, #hobby3 img {
	width: 75%;
	float:none;
	margin: 10px 70px 10px;
	padding: 5px;
	
}
}
@media only screen and (max-width:750px) and (orientation:landscape){
#personal_content{
	margin: 0 auto;
	width: 100%;
  }
#personal_content h2, #personal_content p{
	font-size: 1em;
}

#drawing, #hobby1, #hobby2, #hobby3 {
	width: 90%;
	margin: 0 auto;
}

#drawing img, #hobby1 img, #hobby2 img, #hobby3 img {
	width: 75%;
	float:none;
	margin: 10px 50px 10px;
	padding: 5px;
	
}
}

@media only screen and (max-width:500px) and (orientation:landscape){
#personal_content{
	margin: 0 auto;
	width: 100%;
  }
#personal_content h2, #personal_content p{
	font-size: 1em;
}

#drawing, #hobby1, #hobby2, #hobby3 {
	width: 90%;
	margin: 0 auto;
}

#drawing img, #hobby1 img, #hobby2 img, #hobby3 img {
	width: 75%;
	float:none;
	margin: 10px 50px 10px;
	padding: 5px;
	
}
} 


/************************************
		Page: Expereince
*************************************/
#exp_content{
	margin: 0 auto;
	width: 80%;
	height:950px;
}

/********** SLIDER **********/

#slider_obj{
	margin:0 auto;
	margin-top:15px;
	background-color:#000;
	width:75%; 
}
.slider {
  max-width: 85%;
  margin: 0px auto 30px auto;

 }

.slide-viewer {
    position: relative; /* needed for IE7 */
    overflow: hidden;
    height: 380px;
	padding:10px; 
 }

.slide-group {
    width: 100%;
    height: 100%;
    position: relative;
 }

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
 }
 
 .slide img {
	 width:100%; 
 }

.slide:first-child {
    display: block;
 }

.slide-buttons {
  text-align: center;
 }

.slide-btn {
  border: none;
  background: none;
  color: #efefef;
  font-size: 200%;
  line-height: 0.5em;
  }

.slide-btn.active, .slide-btn:hover {
  color: #89cff0;
  cursor: pointer;
  }
  

#exp_desc a{
	text-decoration: none;
	font-size: 1em;
	font-weight:bold;
	color: #000080;
}

#exp_desc {
	margin: 0 auto;
	width:90%;
	padding: 20px;
}

@media only screen and (max-width:1000px) and (orientation:portrait){
#exp_content{
	width:90%;
}

.slide-viewer {
    position: relative; /* needed for IE7 */
    overflow: hidden;
	padding:10px; 
 }


#exp_desc{
	width:90%;
	height:90%;
	font-size: 1em; 
 }

}

@media only screen and (max-width:750px) and (orientation:portrait){
 #exp_desc{
	font-size: .75em; 
 }
 
 #exp_content{
	width:90%;
}

#slider_obj{
	margin:0 auto;
	margin-top:15px;
	background-color:#000;
	width:100%; 
}

.slide-viewer {
    position: relative; /* needed for IE7 */
    overflow: hidden;
	padding:10px;  
 }
 
 .slide img {
	 height:100%; 
 }


#exp_desc{
	width:80%;
	height:90%;
	font-size: 1em; 
 }

}

@media only screen and (max-width:500px) and (orientation:portrait){
  #exp_content{
	width:100%;
}

#slider_obj{
	margin:0 auto;
	margin-top:15px;
	background-color:#000;
	width:100%; 
}

.slide-viewer {
    position: relative; 
    overflow: hidden;
	height:200px; 
	padding:10px;
	
 }


#exp_desc{
	width:70%;
	height:90%;
	font-size: .9em; 
 }
}
@media only screen and (max-width:1000px) and (orientation:landscape){
  #slider_obj{
	 width:100%; 
   }
  .slide-viewer{
	  height:350px;
  }


}
@media only screen and (max-width:750px) and (orientation:landscape){
 #slider_obj{
	 width:100%; 
 }
 
 .slide-viewer {
    position: relative;
    overflow: hidden;
    height: 270px;
	padding:10px; 
 }
 
 #exp_desc{
	 font-size: .8em;
 }	
}


@media only screen and (max-width:500px) and (orientation:landscape){
  #exp_desc {
	  font-size: .9em; 
  }
}

/************************************
		Page: Contact
*************************************/
#contact_content{
	margin: 0 auto;
	width: 80%;
}

#contact_img {
	float:right;
	margin-top: 40px;
	margin-right:10px;
	margin-bottom:30px;
	padding-right: 20px;
	padding-left: 20px;
}
#contact_content h2{
	margin-top: 15px;
}

#contact_content h3{

}

#contact_content table td{
	padding: 2px;
}

#contact_content span{
	color:black;
	font-weight: bold;
	font-size: 1em;
	padding-right: 1em;
}

#contact_content a{
	text-decoration: none;
	font-size: 1em;
	font-weight:bold;
	color: #000080;
}

#social_media ul{
	list-style:none;
	margin:0 auto;
	padding: 0;
	width: 100%;
}

#social_media ul li{
	margin:0 auto;
	display:inline;
}

@media only screen and (max-width:1000px) and (orientation:portrait){
	#contact_content{
		width:90%; 
	}
	#contact_img {
	  margin: 0 auto;
	  margin-top: 5px; 
	  width: 40%;
	  height: 10%; 
	}
	#contact_content table{
	  width: 60%;
	  font-size: 1em;
    }
	
	#social_media{
		width: 85%; 
	}
}

@media only screen and (max-width:750px) and (orientation:portrait){
	#contact_content{
		width:90%; 
	}
	#contact_img {
	  margin: 0 auto;
	  margin-bottom: 5px;
	  padding:50px;
	  width: 85%;
	}
	#contact_content table{
	  width: 60%;
	  font-size: 1em;
    }
}

@media only screen and (max-width:500px) and (orientation:portrait){
  #contact_content table {
	  font-size: .9em;
  }
  #contact_img{
	  margin: 0 auto;
	  margin-bottom: 5px;
	  padding:50px;
	  width: 80%;
  }
}
@media only screen and (max-width:1000px) and (orientation:landscape){
	#contact_content{
		width:80%; 
	}
	#contact_img{
		width: 50%;
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 1px;
		padding-right: 1px;
	}
}

@media only screen and (max-width:750px) and (orientation:landscape){
	#contact_img{
		width: 80%;
		padding: 0 65px 15px 65px;
	}
}
@media only screen and (max-width:500px) and (orientation:landscape){
	#contact_img{
		width: 78%;
		padding: 0 50px 15px;
	}
}